In [359]:
statelist = []
whites = []
blacks = []
hispanics = []
asians = []
nativeams = []
pacificislanders = []
others = []
twoormore = []
genre = []
pop = []
for state in stategenre:
    statelist.append(state['state'])
    whites.append(float(state['races']['White alone'].strip('%')))
    blacks.append(float(state['races']['Black alone'].strip('%')))
    hispanics.append(float(state['races']['Hispanic'].strip('%')))
    asians.append(float(state['races']['Asian alone'].strip('%')))
    nativeams.append(float(state['races']['American Indian alone'].strip('%')))
    pacificislanders.append(float(state['races']['Native Hawaiian and Other'].strip('%')))
    others.append(float(state['races']['Other race alone'].strip('%')))
    twoormore.append(float(state['races']['Two or more races'].strip('%')))
    genre.append(state['genre'])
    pop.append(float(state['Population'].replace(',','')))
data = {'State': statelist, 'Population': pop, 'White alone': whites, 'Black alone': blacks, 'Hispanic': hispanics, 'Asian alone': asians, 'American Indian alone': nativeams,
        'Native Hawaiian and Other': pacificislanders, 'Other race alone': others, 'Two or more races': twoormore, 'genre': genre}

In [361]:
df.head()

,State,Population,White alone,Black alone,Hispanic,Asian alone,American Indian alone,Native Hawaiian and Other,Other race alone,Two or more races,genre
0,Alabama,5024279.0,63.12,25.64,5.26,1.51,0.46,0.05,0.29,3.67,Country
1,Alaska,733391.0,57.51,2.83,6.79,5.92,14.84,1.70,0.62,9.78,Country
2,Arizona,7151502.0,53.37,4.43,30.65,3.48,3.69,0.20,0.44,3.73,Metal
3,Arkansas,3011524.0,68.52,14.94,8.53,1.70,0.68,0.47,0.27,4.89,Country
4,California,39538223.0,34.69,5.36,39.40,15.12,0.39,0.35,0.57,4.12,Pop

In [360]:
df = pd.DataFrame(data)

In [362]:
racecols = ['White alone', 'Black alone', 'Hispanic', 'Asian alone', 'American Indian alone', 'Native Hawaiian and Other', 'Other race alone', 'Two or more races']	
for race in racecols:
    df[f'{race}_count'] = df['Population'] * (df[race] / 100)
df_long = df.melt(id_vars=['State', 'genre'], 
                  value_vars=racecols, 
                  var_name='Race', 
                  value_name='Count')

In [363]:
contingency_table = df_long.groupby(['Race', 'genre'])['Count'].sum().unstack(fill_value=0)

In [364]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

print("Contingency Table:")
print(contingency_table)
print(f"\nChi-squared: {chi2}")
print(f"p-value: {p}")
print(f"Degrees of Freedom: {dof}")
print("\nExpected Frequencies:")
print(expected)

Contingency Table:
genre                      Alternative  Classic Rock  Country  Electronic  \
Race
American Indian alone            16.60          3.53    20.33        0.75
Asian alone                      11.08         48.41    35.47        8.57
Black alone                      20.50        226.53   102.50        9.40
Hispanic                         94.20        121.02    97.51       28.68
Native Hawaiian and Other         0.66          0.60     3.78        0.74
Other race alone                  2.40          5.48     4.65        0.55
Two or more races                21.59         44.95    53.80        5.38
White alone                     332.98        749.45   881.96       45.93

genre                       Indie  Latin   Metal    Pop  Rhythm and Blue
Race
American Indian alone        7.23   0.29   25.70   0.39             0.16
Asian alone                 45.62   5.36   16.55  15.12            36.53
Black alone                 97.24  11.82   32.48   5.36             1.50
Hispanic                   119.79  39.26   81.54  39.40             9.55
Native Hawaiian and Other    1.52   0.10    0.72   0.35            10.24
Other race alone             6.24   0.39    2.34   0.57             0.36
Two or more races           49.01   3.04   29.82   4.12            20.06
White alone                773.31  39.75  410.86  34.69            21.60

Chi-squared: 1053.838615238901
p-value: 4.312787112797449e-184
Degrees of Freedom: 56

Expected Frequencies:
[[7.49820995e+00 1.79948941e+01 1.79953440e+01 1.49961200e+00
  1.64951321e+01 1.49976196e+00 8.99782194e+00 1.49961200e+00
  1.49961200e+00]
 [2.22716236e+01 5.34494913e+01 5.34508276e+01 4.45423563e+00
  4.89948103e+01 4.45468106e+00 2.67258592e+01 4.45423563e+00
  4.45423563e+00]
 [5.07344205e+01 1.21757130e+02 1.21760174e+02 1.01466812e+01
  1.11609434e+02 1.01476958e+01 6.08811017e+01 1.01466812e+01
  1.01466812e+01]
 [6.30967667e+01 1.51425426e+02 1.51429211e+02 1.26191010e+01
  1.38805063e+02 1.26203629e+01 7.57158676e+01 1.26191010e+01
  1.26191010e+01]
 [1.87105239e+00 4.49032366e+00 4.49043592e+00 3.74202994e-01
  4.11608325e+00 3.74240414e-01 2.24525538e+00 3.74202994e-01
  3.74202994e-01]
 [2.29806434e+00 5.51510624e+00 5.51524412e+00 4.59603677e-01
  5.05545660e+00 4.59649637e-01 2.75766802e+00 4.59603677e-01
  4.59603677e-01]
 [2.31776490e+01 5.56238544e+01 5.56252450e+01 4.63543708e+00
  5.09879537e+01 4.63590063e+00 2.78130860e+01 4.63543708e+00
  4.63543708e+00]
 [3.29062214e+02 7.89713775e+02 7.89733518e+02 6.58111265e+01
  7.23896067e+02 6.58177076e+01 3.94873340e+02 6.58111265e+01
  6.58111265e+01]]